body {
    background-color: red;

    h1 {
        color: yellow;
    }
}

.image {
    background-image: url('./images/stub.png');
}

.one {
    background-color: red;
}

.two {
    background-color: yellow;
}